*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {

    font-family: 'Roboto', sans-serif;
    font-style: 400;
    
}

.logo {

    list-style-type: none;
    color: #070707;
    font-family: Raleway;
}

.logo1
{
    
    text-decoration: none;
    list-style-type: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-st
{
    display: inline-block;
    color: #070707;
    }

.logo-b
{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #050505;
}

.adres {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
}

.logo-b:hover,
.adres:hover
{
    color: #2196F3;
}

.menu
{
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.menu1
{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    background: #000000;
}
 
.zakazat
{
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    background: #000000;
       
}

.section1
{
        
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: #212121;

}
.section1-second
{
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}
.title
{
   
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;
}

.signature
{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;
}
 .signature1
{
    font-weight: 400;
    color: #757575;
}
.footer
{
   
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;  
    background: #a39a9a;
   }

.foter-contact
{
    
    text-decoration: none;
   color: rgba(255, 255, 255, 0.6);
 
}
/*page2*/
.page1{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #212121;

}

.signature-page1-sec{
   
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
    }

.signature-page1
{
     
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}